#samples {
    width: 100%; 
}

div.table {
    display: table;
}
div.row {
    display: table-row;
}
pre.xml {
    width: 800px; 
    max-width: 800px;
    display: table-cell;
    overflow: auto;
}
pre.json {
    display: table-cell;
    overflow: auto;
}
